$errorColor: #dc3545;

.form-container {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}

.input-box {
  display: flex;
  flex-direction: column;
  padding: 10px 25px;
}

.input-row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 10px 25px;
}

.checkbox-row {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  * {
    margin-right: 10px;
  }

  input {
    width: 25px;
  }

  label {
    flex-grow: 1;
  }
}

.btnShowPassword {
  cursor: pointer;
}

.is-invalid {
  label {
    color: $errorColor;
  }
  input, input:focus {
    border: 1px solid $errorColor;
  }
  .invalid-feedback {
    display: block;
  }
}
